{% extends 'movie/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-5 offset-1">
                <h2>Название фильма</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="name">Поиск</label>
                    {{ form.name }}
<!--                  <input type="text" id="movie" class="form-control" name="movie" placeholder="Введите название">-->
                    <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">

                </form>

            </div>
            <div class="col-4 offset-1">
                <h2>Информация</h2>
                {% for info in movie_list %}

                <div class="mt-5 gray">
                    <b>Название:</b> {{info.Title}}<br>
                    <b>Год:</b> {{info.Year}}<br>
                    <b>Тип:</b> {{info.Type}}<br>
                    <img src="{{info.Poster}}"><br>
                    <a href="{{ info.get_absolute_url }}"> Подбробнее</a>
                </div>
                {% endfor %}
<!--                {% for i in movie_list %}-->
<!--                    <a href="{{ i.get_absolute_url }}"> TEST</a>-->
<!--                    <img src="{{i.Poster}}">-->
<!--&lt;!&ndash;                <img src="{{i.poster}}">&ndash;&gt;-->
<!--                {% endfor %}-->
            </div>
        </div>
    </div>
</body>

{% endblock %}